@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Poppins", sans-serif;
        color: white;
    }

    input:invalid:not(:placeholder-shown):not(:focus) {
        background-image: url("../images/icon-error.svg");
        background-repeat: no-repeat;
        background-position: 95% center;
    }
}